.j-button {
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    padding: 16px 24px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    text-decoration: none
}

.j-button:first-letter {
    text-transform: uppercase
}

.j-button--primary {
    background: #0060ab
}

.j-button--primary:focus {
    color: #fff
}

.j-button--primary:hover {
    color: #fff;
    background: #004d91
}

.j-button--primary:active {
    color: #fff;
    background: #003870
}

.j-button--primary:disabled {
    color: #fff;
    background: #b9c2c9;
    cursor: default
}

.j-button--danger {
    background: #c72c0e
}

.j-button--danger:focus {
    color: #fff
}

.j-button--danger:active,
.j-button--danger:hover {
    color: #fff;
    background: #781c01
}

.j-button--danger:disabled {
    color: #fff;
    background: #b9c2c9;
    cursor: default
}

.j-button--link {
    background: none;
    color: #004d91;
    border: none
}

.j-button--link:focus {
    color: #004d91
}

.j-button--link:hover {
    color: #004d91;
    background: #dcf1ff
}

.j-button--link:active {
    color: #004d91;
    background: #a0d3f7
}

.j-button--link:disabled {
    color: #a1abb3;
    cursor: default
}

.j-button--small {
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 4px
}

.j-button--block {
    width: 100%;
    text-align: center
}

.j-box {
    padding: 48px 64px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .24), 0 1px 3px 0 rgba(0, 0, 0, .12);
    background-color: #fff;
    position: relative;
    overflow: hidden;
    box-sizing: border-box
}

@media only screen and (max-device-width:480px) {
    .j-box {
        padding: 32px
    }
}

.j-box__stripe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 8px;
    margin: 0;
    border: none
}

.j-box__stripe--brand {
    background: #1679c6
}

.j-box__stripe--error {
    background: #f15b4b
}

.j-h1 {
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #21313b;
    line-height: 32px
}

h1.j-h1 {
    margin: 0 0 16px
}

.j-h2 {
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #21313b;
    line-height: 32px
}

h2.j-h2 {
    margin: 0 0 16px
}

@media only screen and (max-device-width:480px) {
    .j-h2 {
        -webkit-font-smoothing: antialiased;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px
    }
}

.j-h3 {
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #475661;
    line-height: 32px
}

h3.j-h3 {
    margin: 0 0 8px
}

.j-h4 {
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #475661;
    line-height: 24px
}

h4.j-h4 {
    margin: 0 0 8px
}

.j-paragraph {
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #475661;
    line-height: 24px
}

p.j-paragraph {
    margin: 0 0 16px
}

.j-label {
    font-size: 14px;
    font-weight: 500
}

.j-bold,
.j-label {
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, sans-serif;
    color: #475661
}

.j-bold {
    font-size: 16px;
    font-weight: 700
}

.j-field {
    margin: 0 0 24px;
    border: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.j-field label,
.j-field legend {
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #475661;
    display: block;
    margin: 3px 0;
    padding: 0;
    width: 100%
}

.j-field input,
.j-field select,
.j-field textarea {
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #10161a;
    height: 38px;
    border-radius: 4px;
    border: 1px solid #b9c2c9;
    background-color: #f5f8fa;
    padding: 0 16px;
    margin: 4px 0;
    width: 100%;
    box-sizing: border-box;
    -webkit-transition: border-color, background-color .1s ease-in-out;
    transition: border-color, background-color .1s ease-in-out
}

.j-field input:focus,
.j-field input:hover,
.j-field select:focus,
.j-field select:hover,
.j-field textarea:focus,
.j-field textarea:hover {
    outline: none;
    border-color: #0060ab
}

.j-field input:focus,
.j-field select:focus,
.j-field textarea:focus {
    background-color: #dcf1ff
}

.j-field textarea {
    padding-top: 8px;
    padding-bottom: 8px
}

.j-field--error input,
.j-field--error select {
    border-color: #c72c0e;
    color: #475661;
    background-color: #fcebe9
}

.j-field--error input:hover,
.j-field--error select:hover {
    border-color: #c72c0e
}

.j-field--error input:hover:focus,
.j-field--error select:hover:focus {
    border-color: #0060ab
}

.j-field--disabled label {
    color: #86919a
}

.j-field input[type=number]::-webkit-inner-spin-button,
.j-field input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.j-field input[disabled],
.j-field select[disabled] {
    background-color: #dce2e6;
    border: none
}

.j-field select {
    display: block;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Crect width='20' height='20' fill='%230060AB' rx='4'/%3E%3Cpath stroke='%23FFF' d='M6 8l3.835 5L14 8'/%3E%3C/g%3E%3C/svg%3E"), -webkit-linear-gradient(top, #f5f8fa, #f5f8fa);
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Crect width='20' height='20' fill='%230060AB' rx='4'/%3E%3Cpath stroke='%23FFF' d='M6 8l3.835 5L14 8'/%3E%3C/g%3E%3C/svg%3E"), linear-gradient(180deg, #f5f8fa 0, #f5f8fa);
    background-position: center right 8px;
    background-repeat: no-repeat, repeat;
    background-size: 20px 20px, 100%;
    padding-right: 36px
}

.j-field select::-ms-expand {
    display: none
}

.j-field select:focus::-ms-value {
    color: #10161a;
    background-color: #f5f8fa
}

.j-field--toggles label {
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 2;
    cursor: pointer
}

.j-field--toggles input[type=checkbox],
.j-field--toggles input[type=radio] {
    display: none
}

.j-field--toggles input[type=checkbox]+.j-field__toggle-helper {
    height: .8em
}

.j-field__toggle-helper {
    display: inline-block;
    width: 24px;
    height: 1em;
    margin-right: 5px;
    position: relative
}

input[type=radio]+.j-field__toggle-helper:before {
    content: "";
    display: block;
    position: absolute;
    top: -3px;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #3994db;
    background-color: #f5f8fa;
    box-sizing: border-box
}

input[type=radio]:focus+.j-field__toggle-helper:before {
    box-shadow: 0 0 2px #3994db
}

input[type=radio]:checked+.j-field__toggle-helper:after {
    content: "";
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    top: 5px;
    left: 2px;
    background-color: #3994db
}

input[type=checkbox]+.j-field__toggle-helper:before {
    content: "";
    display: block;
    position: absolute;
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: 2px solid #3994db;
    background-color: #f5f8fa;
    box-sizing: border-box
}

input[type=checkbox]:focus+.j-field__toggle-helper:before {
    box-shadow: 0 0 2px #3994db
}

input[type=checkbox]:checked+.j-field__toggle-helper:before {
    background-color: #3994db
}

input[type=checkbox]:checked+.j-field__toggle-helper:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 5px;
    width: 10px;
    height: 5px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-left: 4px solid #f5f8fa;
    border-bottom: 4px solid #f5f8fa;
    border-radius: 2px
}

.j-field--with-prefix select,
.j-field--with-suffix select {
    height: 100%;
    margin: 0;
    border: 0;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='5' viewBox='0 0 8 5'%3E%3Cpath fill='%230060AB' d='M6.973.193a.564.564 0 0 1 .85 0 .702.702 0 0 1 0 .932L4.425 4.807a.565.565 0 0 1-.85 0l-3.4-3.682a.704.704 0 0 1 0-.932.564.564 0 0 1 .85 0L4 3.213 6.973.193z'/%3E%3C/svg%3E");
    background-size: 10px 10px, 100%;
    padding-left: 8px
}

.j-field--with-prefix input,
.j-field--with-prefix select,
.j-field--with-prefix textarea,
.j-field--with-suffix input,
.j-field--with-suffix select,
.j-field--with-suffix textarea {
    width: auto;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

@media only screen and (max-device-width:480px) {
    .j-field--with-prefix input,
    .j-field--with-suffix input {
        padding: 0 8px;
        width: 100px !important
    }
}

.j-field--with-prefix .j-field__prefix,
.j-field--with-prefix .j-field__suffix,
.j-field--with-suffix .j-field__prefix,
.j-field--with-suffix .j-field__suffix {
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #10161a;
    height: 38px;
    line-height: 38px;
    border-radius: 4px;
    border: 1px solid #b9c2c9;
    background-color: #f5f8fa;
    padding: 0 16px;
    margin: 4px 0;
    width: auto;
    box-sizing: border-box
}

.j-field--with-prefix input,
.j-field--with-prefix select,
.j-field--with-prefix textarea {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 10px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.j-field--with-prefix .j-field__prefix {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0
}

.j-field--with-suffix input,
.j-field--with-suffix select,
.j-field--with-suffix textarea {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 10px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.j-field--with-suffix .j-field__suffix {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0
}

.j-field__error-text {
    font-weight: 400;
    color: #c72c0e
}

.j-field__bottom-link,
.j-field__error-text {
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    width: 100%
}

.j-field__bottom-link {
    font-weight: 700;
    text-align: right
}

.j-field__help-text {
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #626f7a
}